[Unit]
Description=cypherapp-mempool server up service
After=network.target

[Service]
WorkingDirectory=/cypherapp-mempool/
ExecStart=/usr/local/bin/node server/server.js
Restart=on-failure
StandardOutput=file:/root/logs/idex-service-output.log
StandardError=file:/root/logs/idex-service-error.log

[Install]
WantedBy=multi-user.target

# systemctl --user daemon-reload && systemctl --user stop idex.service && systemctl --user start idex.service && systemctl --user status idex.service
# tail -f /home/innkubo/.auram/web/idex-service-output.log or idex-service-error.log
# tail -f /var/log/syslog
